**/__pycache__/
.ipynb_checkpoints
simulators/mobl_arms_index_choice_reaction
simulators/mobl_arms_index_pointing
simulators/mobl_arms_index_remote_driving
simulators/mobl_arms_index_tracking
/context_switch_roadmap/zigzag_reading/training
/huc/training/
/context_switch_roadmap/bai_trials/ball_switch/training/
/context_switch_roadmap/bai_trials/context_switch/training/
/hrl/training/
/hrl/envs/supervisory_control/results/ocular_motor_control_agent.avi
/study data/Study 4/12-04-20-07/
/study data/Study 4/data_process/12-06/*.csv
/study data/Study 4/data_process/12-06/
/study data/Study 4/data_process/*.csv
/study data/Study 4/12-08-12-32/
